@import "../../../base";
@import "../../../fonts";
@import "../../../variables";

.ovl-add-channel {
  width: 872px;
  height: 539px;
  border-radius: 30px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 6px 10px 0px #00000033;

  .ovl-header,
  .f-add-channel,
  .input-container-column {
    @include dFlex($fd: column, $ai: flex-start, $g: 20px);
  }

  .ovl-header {
    margin-bottom: 20px;
  }

  .title-container {
    @include dFlex($jc: space-between);
    width: 100%;
  }

  .input-container-column {
    width: 100%;
  }

  .form-textarea {
    height: 65px;
    min-height: 65px;
    max-height: 90px;
    line-height: 25px;
    resize: none;
    overflow-y: hidden;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .icon-input {
    background-image: url(../../../../assets/img/tag.svg);
    background-repeat: no-repeat;
    background-size: 23px 23px;
    padding-left: 63px;
    background-position: 20px center;
  }

  .subheading > span {
    font-weight: 400;
    font-style: Regular;
    color: $text-grey;
  }

  .btn-font-style {
    font-size: 18px;
    font-weight: 700;
  }
}

.ovl-add-members {
  width: 710px;
  border-radius: 30px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 6px 10px 0px #00000033;
  @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 20px);

  header {
    width: 100%;
    @include dFlex($jc: space-between);
  }

  form {
    width: 100%;
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 20px);

    .input-container-row {
      width: 100%;
      @include dFlex($jc: flex-start, $g: 20px);
    }

    input[type="radio"] {
      accent-color: $purple-1;
      width: 20px;
      height: 20px;
    }

    input[type="radio"],
    label {
      cursor: pointer;
    }

    .highlight {
      color: $purple-3;
    }
  }
}

.form-input {
  width: 100%;
  border: solid;
  border-radius: 40px;
  border-width: 1px;
  border-color: $light-purple;
  padding: 18px 20px;

  &:hover {
    border-color: $purple-2;
  }

  &:focus {
    border-color: $purple-3;
  }
}

.btn-container {
  @include dFlex($jc: flex-end);
  width: 100%;
}

.btn-close-overlay {
  @include icon-button();
}

.hidden {
  display: none;
}
