<div class="reset-password-wrapper flex-center">
    <div class="reset-password-content flex-center flex-column">
        <img class="logo" src="/assets/img/logo-with-text.png" alt="">
        <div class="reset-password-dialog flex-column flex-center text-center">
            <a class="arrow-back" [routerLink]="'/'"><img src="/assets/img/arrow-back.png" alt=""></a>
            <h2 class="headline-style">Password zurücksetzen</h2>

            <form [formGroup]="form">
                <input class="input-password input-blue-style" formControlName="password" type="password"
                    name="password" placeholder="Neues Passwort">
                <div class="error-space">
                    <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                        <div class="error-message" *ngIf="form.get('password')?.errors?.['required']">Passwort ist
                            erforderlich</div>
                        <div class="error-message" *ngIf="form.get('password')?.errors?.['minlength']">Mindestens 6
                            Zeichen</div>
                    </div>
                </div>

                <input class="input-password input-blue-style" formControlName="passwordRepeat" type="password"
                    name="passwordRepeat" placeholder="Neues Passwort bestätigen">
                <div class="error-space">
                    <div *ngIf="form.get('passwordRepeat')?.invalid && form.get('passwordRepeat')?.touched">
                        <div class="error-message" *ngIf="form.get('passwordRepeat')?.errors?.['required']">Passwort ist
                            erforderlich</div>
                        <div class="error-message" *ngIf="form.get('passwordRepeat')?.errors?.['minlength']">Mindestens 6
                            Zeichen</div>
                    </div>
                </div>

                <div class="button-wrapper flex-end">
                    <button [disabled]="form.invalid" class="button-primary-style">Weiter</button>
                </div>
            </form>

        </div>
    </div>
</div>