<div #emojiPicker class="emoji-picker-menu" *ngIf="emojiService._showPickerInChannels||emojiService._showPickerInChannelMessage">
    <div class="emoji-container flex-column">
        <div class="emoji" (click)="addEmoji(i)" *ngFor="let emoji of emojiService.displayedEmojis; let i = index">
            {{ emoji }}
        </div>
    </div>
    <div class="seperator"></div>
    <div class="emoji-selector-menu flex-row flex-sb">
        <div class="emojie-selector emoji" (click)="emojiService.selectCategory('smileys')"
            [class.active]="emojiService._activeCategory">😀</div>
        <div class="emojie-selector emoji" (click)="emojiService.selectCategory('tiere')"
            [class.active]="emojiService._activeCategory==='tiere'">🐶</div>
        <div class="emojie-selector emoji" (click)="emojiService.selectCategory('essen')"
            [class.active]="emojiService._activeCategory==='essen'">🍎</div>
        <div class="emojie-selector emoji" (click)="emojiService.selectCategory('aktivität')"
            [class.active]="emojiService._activeCategory==='aktivität'">⚽</div>
        <div class="emojie-selector emoji" (click)="emojiService.selectCategory('reisen')"
            [class.active]="emojiService._activeCategory==='reisen'">🛩️</div>
        <div class="emojie-selector emoji" (click)="emojiService.selectCategory('objekte')"
            [class.active]="emojiService._activeCategory==='objekte'">💻</div>
        <div class="emojie-selector emoji" (click)="emojiService.selectCategory('symbole')"
            [class.active]="emojiService._activeCategory==='symbole'">❤️</div>
    </div>
</div>