<div class="registration-wrapper flex-center">
    <div class="registration-content flex-center flex-column">
        <img class="logo" src="/assets/img/logo-with-text.png" alt="">
        <div class="registration-dialog flex-column flex-center text-center">
            <a class="arrow-back" [routerLink]="'/'"><img src="/assets/img/arrow-back.png" alt=""></a>
            <h2 class="headline-style">Konto erstellen</h2>
            <span class="fs20 mb32">Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</span>



            <form [formGroup]="form">

                <input class="input-name input-blue-style" formControlName="name" type="text" name="name"
                    placeholder="Name und Nachname">
                <div class="error-space">
                    <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
                        <div class="error-message" *ngIf="form.get('name')?.errors?.['required']">Name ist
                            erforderlich</div>
                        <div class="error-message" *ngIf="form.get('name')?.errors?.['minlength']">Mindestens 3 Zeichen
                        </div>
                    </div>
                </div>

                <input class="input-email input-blue-style" formControlName="email" type="email" name="email"
                    placeholder="beispiel@email.com">
                <div class="error-space">
                    <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                        <div class="error-message" *ngIf="form.get('email')?.errors?.['required']">E-Mail ist
                            erforderlich</div>
                        <div class="error-message" *ngIf="form.get('email')?.errors?.['email']">Ungültige E-Mail-Adresse
                        </div>
                    </div>
                </div>

                <input class="input-password input-blue-style" formControlName="password" type="password"
                    name="password" placeholder="Passwort">
                <div class="error-space">
                    <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                        <div class="error-message" *ngIf="form.get('password')?.errors?.['required']">Passwort ist
                            erforderlich</div>
                        <div class="error-message" *ngIf="form.get('password')?.errors?.['minlength']">Mindestens 6
                            Zeichen</div>
                    </div>
                </div>

                <div class="checkbox-privacy-policy flex-start mb32">
                    <input type="checkbox" formControlName="privacy">
                    <span>Ich stimme der <a class="text-link-style"
                            [routerLink]="'/privacy-policy'">Datenschutzerklärung</a> zu.</span>
                </div>

                <div class="button-wrapper flex-end">
                    <button [disabled]="form.invalid" class="button-primary-style">Weiter</button>
                </div>

            </form>
        </div>
        <div class="legal flex-sb">
            <a class="link-style" [routerLink]="'/imprint'">Impressum</a>
            <a class="link-style" [routerLink]="'/privacy-policy'">Datenschutz</a>
        </div>
    </div>
</div>