@import './../variables';
@import './../base';
@import './../fonts';

.choose-avatar-wrapper {
    height: 100%;
    width: 100%;
    padding: 75px;
}

.choose-avatar-content {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 99px;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 242px;
    height: 70px;
}

.choose-avatar-dialog {
    position: relative;
    margin-top: 174px;
    background-color: #ffffff;
    max-width: 606px;
    width: 100%;
    max-height: 769px;
    height: 100%;
    padding: 40px 67px;
    border-radius: $dialog-border-radius;
    margin-bottom: 48px;

    h2 {
        margin-bottom: 32px;
    }

    form {
        width: 100%;
    }
}

.avatar-container {
    h3 {
        margin-top: 0;
        margin-bottom: 16px;
    }
    span {
        margin-bottom: 16px;
    }
}

.arrow-back {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 45px;
    left: 32px;
}

.default-user-image {
    height: 168px;
    width: 168px;
    margin-bottom: 32px;
}

.span-wrapper {
    width: 100%;
    text-align: start;
    margin-bottom: 16px;
}

.avatar-list {
    gap: 8px;
    margin-bottom: 48px;
}

.avatar-image {
    height: 72px;
    width: 72px;
    border-radius: 100px;
    cursor: pointer;
    &:hover {
        transform: scale(1.05)
    };
}

.button-wrapper {
    width: 100%;
}