<dialog class="overlay-container" *ngIf="overlayOpen" (click)="closeOverlay()">
  <ng-container [ngSwitch]="overlayService.activeMenu$ | async">
    <app-add-channel-menu *ngSwitchCase="'addChannel'"></app-add-channel-menu>
    <app-profile-menu *ngSwitchCase="'profileMenu'"></app-profile-menu>
    <app-profile *ngSwitchCase="'profile'"></app-profile>
    <app-add-user-menu *ngSwitchCase="'addUser'"></app-add-user-menu>
    <app-channel-members *ngSwitchCase="'channelMembers'"></app-channel-members>
    <app-channel-info *ngSwitchCase="'channelInfo'"></app-channel-info>
    <app-avatar-editor *ngSwitchCase="'avatarEditor'"></app-avatar-editor>
  </ng-container>
</dialog>