@import './../../_variables';
@import './../../_base';
@import './../../_fonts';

.registration-wrapper {
    // height: 100%;
    width: 100%;
    padding: 75px;
}

.registration-content {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    position: relative;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 242px;
    height: 70px;
}

.registration-dialog {
    position: relative;
    margin-top: 120px;
    background-color: #ffffff;
    max-width: 606px;
    width: 100%;
    max-height: 669px;
    height: 100%;
    padding: 40px 53px;
    border-radius: $dialog-border-radius;
    margin-bottom: 48px;

    h2 {
        margin-bottom: 32px;
    }
}

form {
    width: 100%;
}

.error-space {
    height: 25px;
    width: 100%;
    text-align: start;
    color: #f10606;
    margin-bottom: 15px;
}

.error-message {
    font-size: 14px;
}

.input-wrapper {
    position: relative;
    width: 100%;

    .input-icon {
        position: absolute;
        left: 24px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        pointer-events: none;
    }

    .input-icon--name {
        background-image: url('/assets/img/input-user.png');
    }

    .input-icon--email {
        background-image: url('/assets/img/input-mail.png');
    }

    .input-icon--password {
        background-image: url('/assets/img/input-password.png');
    }

    input {
        padding-left: 56px;
        font-family: 'Nunito';
        font-size: 16px;
        font-weight: 400;
        color: $text-grey;

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 1000px $input-bg-blue inset !important;
            -webkit-text-fill-color: $text-grey !important;
            font-family: 'Nunito' !important;
            font-size: 16px !important;
            font-weight: 400 !important;
        }
    }
}

.arrow-back {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 45px;
    left: 32px;
}

.checkbox-privacy-policy {
    width: 100%;
    gap: 8px;
}

.button-wrapper {
    width: 100%;
}

.legal {
    width: 270px;
}


/// responsive Design ///


@media (max-width: 640px) {
    .registration-wrapper {
        padding: 16px;
    }

    .logo {
        position: unset;
        height: 56px;
        width: 204px;
    }

    .registration-content {
        margin-top: 32px;
    }

    .registration-dialog {
        padding: 20px;
        margin-top: 32px;
        height: auto;
        margin-bottom: 32px;

        h2 {
            font-size: 32px;
            margin-left: 40px;
            margin-right: 40px;
            margin-bottom: 15px;
        }

        span {
            font-size: 17px;
            margin-bottom: 15px;
        }

        a {
            font-size: 17px;
        }
    }

    .reset-password-link {
        margin-bottom: 20px;
    }

    .seperator-div {
        margin-bottom: 15px;

        span {
            margin-bottom: 0;
        }
    }

    .error-space {
        height: 15px;
        font-size: 14px;
    }

    .arrow-back {
        top: 20px;
        left: 20px;
    }

    .input-name {
        padding-left: 64px;
    }

    .input-email {
        padding-left: 64px;
    }

    .input-password {
        padding-left: 64px;
    }

    .checkbox-privacy-policy {
        span {
            margin-bottom: 0;
        }
    }

    .legal {
        display: none;
    }
}

@media (max-width: 380px) {
    .error-message {
        font-size: 12px;
    }
}