@import './../variables';
@import './../base';
@import './../fonts';

.registration-wrapper {
    height: 100%;
    width: 100%;
    padding: 75px;
}

.registration-content {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    position: relative;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 242px;
    height: 70px;
}

.registration-dialog {
    position: relative;
    margin-top: 81px;
    background-color: #ffffff;
    max-width: 606px;
    width: 100%;
    max-height: 669px;
    height: 100%;
    padding: 40px 53px;
    border-radius: $dialog-border-radius;
    margin-bottom: 48px;

    h2 {
        margin-bottom: 32px;
    }
}

form {
    width: 100%;
}

.error-space {
    height: 25px;
    width: 100%;
    text-align: start;
    color: #ED1E79;
    margin-bottom: 15px;
}

.error-message {
    font-size: 14px;
}

.input-name {
    @include input-background('/assets/img/input-user.png', '/assets/img/input-user-hover.png');
}

.input-email {
    @include input-background('/assets/img/input-mail.png', '/assets/img/input-mail-hover.png');
}

.input-password {
    @include input-background('/assets/img/input-password.png', '/assets/img/input-password-hover.png');
}

.arrow-back {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 45px;
    left: 32px;
}

.checkbox-privacy-policy {
    width: 100%;
}

.button-wrapper {
    width: 100%;
}

.legal {
    width: 270px;
}


/// responsive Design ///


@media (max-width: 640px) {
    .registration-wrapper {
        padding: 16px;
    }

    .logo {
        position: unset;
        height: 56px;
        width: 204px;
    }

    .registration-content {
        margin-top: 32px;
    }

    .registration-dialog {
        padding: 20px;
        margin-top: 32px;
        height: auto;
        margin-bottom: 32px;

        h2 {
            font-size: 32px;
            margin-left: 40px;
            margin-right: 40px;
            margin-bottom: 15px;
        }

        span {
            font-size: 17px;
            margin-bottom: 15px;
        }

        a {
            font-size: 17px;
        }
    }

    .reset-password-link {
        margin-bottom: 20px;
    }

    .seperator-div {
        margin-bottom: 15px;

        span {
            margin-bottom: 0;
        }
    }

    .error-space {
        height: 15px;
        font-size: 14px;
    }

    .arrow-back {
        top: 20px;
        left: 20px;
    }

    .input-name {
        padding-left: 64px;
    }

    .input-email {
        padding-left: 64px;
    }

    .input-password {
        padding-left: 64px;
    }

    .checkbox-privacy-policy {
        span {
            margin-bottom: 0;
        }
    }

    .legal {
        display: none;
    }
}

@media (max-width: 380px) {
    .error-message {
        font-size: 12px;
    }
}