<div class="login-wrapper flex-center">
    <div class="login-content flex-center flex-column">
        <img class="logo" src="./assets/img/logo-with-text.png" alt="">
        <div class="create-account flex-column">
            <span>Neu bei DABubble?</span>
            <a class="link-style" href="">Konto erstellen</a>
        </div>
        <div class="login-dialog flex-column flex-center text-center">
            <h2 class="headline-style">Anmeldung</h2>
            <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
            <input class="input-blue-style" type="email" placeholder="beispiel@email.com">
            <input class="input-blue-style" type="password" placeholder="Passwort">
            <a class="reset-password-link link-style" href="">Passwort vergessen?</a>
            <div class="seperator-div flex-row flex-center">
                <div class="seperator-style"></div>
                <span>ODER</span>
                <div class="seperator-style"></div>
            </div>
            <div class="google-link flex-center">
                <img src="./assets/img/google-logo.png" alt="">
                <a class="link-style">Anmelden mit Google</a>
            </div>
            <div class="login-buttons">
                <button class="button-primary-style">Anmelden</button>
                <button class="button-white-style">Gäste-Login</button>
            </div>
        </div>
        <div class="legal flex-sb">
            <a class="link-style" href="">Impressum</a>
            <a class="link-style" href="">Datenschutz</a>
        </div>
    </div>
</div>