<div class="message-wrapper flex-row" [ngClass]="{ 'outgoing': outgoing, 'incoming': !outgoing }">
  <img src="/assets/img/user1.png" alt="">
  <div class="message-content" [ngClass]="{ 'outgoing': outgoing, 'incoming': !outgoing }">
    <div class="name-time flex-row gap20" [ngClass]="{ 'outgoing': outgoing, 'incoming': !outgoing }">
      <p class="sender">Max Mustermann</p>
      <p class="timestamp">{{ timestamp }}</p>
    </div>
    <div class="bubble-wrapper" [ngClass]="{ 'outgoing': outgoing, 'incoming': !outgoing }">
      <div class="bubble flex-center text-center" [ngClass]="{ 'outgoing': outgoing, 'incoming': !outgoing }">
        <p class="message-text" [ngClass]="{ 'outgoing': outgoing, 'incoming': !outgoing }">{{ text }}</p>
      </div>
    </div>
    <div class="flex-center flex-row gap20">
      <a href="" class="text-link-style">2 Antworten</a>
      <div class="flex-row gap4">
        <p>Letzte Antwort</p>
        <p class="timestamp">{{ timestamp }}</p>
      </div>
    </div>
  </div>
</div>