@import "../../base";
@import "../../fonts";
@import "../../variables";

:host {
    display: block;
    margin-top: 0px;
}

p {
    margin: 0;
    color: $text-grey;
    font-size: 14px;
}

.message-wrapper {
    gap: 30px;

    img {
        height: 70px;
        width: 70px;
        border-radius: 40px;
    }

    &.outgoing {
        display: flex;
        flex-direction: row-reverse;
    }

    &.incoming {
        display: flex;
        justify-content: flex-start;
    }
}

.message-content {
    display: flex;
    flex-direction: column;

    &.incoming {
        align-items: flex-start;
        text-align: start;
    }
}

.name-time {
    &.outgoing {
        flex-direction: row-reverse;
    }
}

.bubble-wrapper {
    width: 100%;

    &.outgoing {
        display: flex;
        justify-content: flex-end;
    }
}

.bubble {
    max-width: 80%;
    padding: 15px;
    border-radius: 100px;
    padding: 15px;
    display: inline-block;
    position: relative;
    word-wrap: break-word;

    &.outgoing {
        background-color: $purple-2;
        margin-left: auto;
        border-top-right-radius: 0;
        align-self: flex-end;
        text-align: right;
    }

    &.incoming {
        background-color: $background-color;
        margin-right: auto;
        border-top-left-radius: 0;
        align-self: flex-start;
        text-align: end;
    }
}

.sender {
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

.timestamp {
    color: $text-grey
}

.message-text {
    color: #000000;
    font-size: 18px;
    text-align: left;

    &.outgoing {
        color: $text-white;
    }
}