<header>
  <img src="./assets/img/logo-with-text.svg" alt="DABubble Logo" />
  <form
    (submit)="onSearch(searchInput.value, searchInput, $event)"
    class="search-form"
  >
    <input
      #searchInput
      name="searchInput"
      type="text"
      class="search-input"
      placeholder="Devspace durchsuchen"
    />
    <button
      type="button"
      class="search-button"
      (click)="onSearch(searchInput.value, searchInput)"
      aria-label="Suche starten"
    >
      <img src="./assets/img/search-grey.svg" alt="Suche" />
    </button>
  </form>
  <button class="profile-button">
    <p>Max Mustermann</p>
    <div class="profile-picture-container">
      <img
        class="profile-picture"
        src="./assets/img/user1.png"
        alt="Profilbild"
      />
      <span class="online-marker"></span>
    </div>
    <img
      class="open-menu"
      src="./assets/img/arrow_down.svg"
      alt="Menü öffnen"
    />
  </button>
</header>
<main>
  <aside>
    <app-devspace></app-devspace>
  </aside>
  <section>
    <app-chat></app-chat>
  </section>
  <aside>
    <app-threads></app-threads>
  </aside>
</main>
