@import "./../base";
@import "./../fonts";
@import "./../variables";

.main-wrapper {
  height: 100%;
  width: 100%;
}

.main-content {
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: 100vh;
}

.main-header {
  padding: 25px 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 105px;

  .left-column {
    width: calc(19%);
  }

  .center-column {
    width: 52%;

    .search-menu {
      position: absolute;
      top: 60px;
      z-index: 99;
    }
  }

  .right-column {
    width: calc(25%);
    @include dFlex($jc: flex-end);
  }

  .logo {
    margin-left: 25px;
  }

  .search-form {
    width: 100%;
    height: 70px;
    border-radius: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
    padding: 17.5px 45px;
    background: #fff;
    position: relative;

    &:hover .tooltip {
      opacity: 1;
    }
  }

  .search-input {
    flex: 1;
    border: none;
    outline: none;
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    background: transparent;
  }

  .search-button {
    background: none;
    border: none;
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    display: flex;
    align-items: center;

    img {
      width: 35px;
      height: 35px;
    }
  }

  .tooltip {
    position: absolute;
    right: 125px;
    background: $background-color;
    color: $text-grey;
    padding: 6px 10px;
    border-radius: 42px;
    font-size: 0.8rem;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 999;
  }

  .profile-button {
    background: none;
    border: none;
    margin-right: 14px;
    @include dFlex($g: 20px);
    p {
      font-size: 32px;
      font-weight: 700;
      margin: 0;
    }

    &:hover {
      color: $purple-2;

      svg path {
        fill: $purple-2;
      }
    }
  }

  .profile-picture-container {
    position: relative;
  }

  .profile-picture {
    width: 70px;
    height: 70px;
    border-radius: 100%;
  }

  .open-menu {
    width: 30px;
    height: 30px;
  }

  .online-marker {
    width: 16.67px;
    height: 16.67px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    border-color: $background-color;
    background-color: $online-green;
    position: absolute;
    bottom: 4px;
    right: 0;
    z-index: 2;
  }
}

.desktop-layout {
  display: flex;
}

main {
  @include dFlex($jc: space-between, $ai: flex-start);
  width: 100%;
  height: calc(100% - 105px);
  max-width: 1920px;
  padding: 20px;
  gap: 20px; /*NEU*/ /*NEU*/
}

.devspace {
  width: 19%;
  padding: 32px 30px;
}

.threads {
  width: 25%;
}

.chat {
  height: 100%;
  background-color: #fff;
  border-radius: 30px;
  position: relative;
  flex: 1; /*NEU*/ /*NEU*/
}

aside {
  height: 100%;
  background-color: #fff;
  border-radius: 30px;
}

.btn-toggle-workspace {
  position: absolute;
  top: 581px;
  left: 0;
  width: 56px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 20px 12px;
  border: none;
  background-color: #fff;
  box-shadow: 4px 4px 7px 0px #00000033;
  z-index: 2;
  @include dFlex($fd: column, $g: 8px);

  span {
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
    font-size: 20px;
    font-weight: 500;
  }

  &:hover {
    span {
      font-weight: 700;
      font-style: bold;
      color: $purple-3;
    }

    svg path {
      stroke: $purple-3;
    }
  }
}

app-overlay {
  position: absolute;
}

.mobile-layout {
  display: none;
}

.btn-return {
  @include icon-button($w: unset, $h: 50px);
  gap: 10px;
}

@media (max-width: $breakpoint-large) {
  .desktop-layout {
    display: none;
  }

  .mobile-layout {
    display: block;
    width: 100%;
    padding: 0;
  }

  .main-wrapper {
    height: unset;
  }

  .main-header {
    padding: 15px 16px;
  }

  .logo {
    margin-left: 0;
    height: 70px;
  }

  .chat {
    border-radius: 0;
  }

  main {
    display: block;
    padding: 0;
  }

  aside {
    padding: 20px;
    border-radius: 0;
  }
}

@media (max-width: $breakpoint-small) {
}
