@import './../variables';
@import './../base';
@import './../fonts';

.request-password-wrapper {
    height: 100%;
    width: 100%;
    padding: 75px;
}

.request-password-content {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    position: relative;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 242px;
    height: 70px;
}

.request-password-dialog {
    height: 100%;
    max-width: 698px;
    width: 100%;
    position: relative;
    margin-top: 186px;
    background-color: #ffffff;
    padding: 40px 53px;
    border-radius: $dialog-border-radius;
    margin-bottom: 48px;
    h2 {
        margin-bottom: 32px;
    }
    form {
        width: 100%;
    }
}

.arrow-back {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 45px;
    left: 32px;
}

.input-email {
    @include input-background('/assets/img/input-mail.png', '/assets/img/input-mail-hover.png');
}

.error-space {
    height: 25px;
    width: 100%;
    text-align: start;
    color: #ED1E79;
    margin-bottom: 15px;

    .error-message {
        font-size: 14px;
    }
}

.button-wrapper {
    width: 100%;
}

.legal {
    width: 270px;
}