@import "../../base";
@import "../../fonts";
@import "../../variables";

.chat-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;
  position: relative;
}

.btn-channel-info {
  @include dFlex($g: 10px);
  background: none;
  border: none;
  padding: 6px 10px;
  transition: all 125ms;

  svg {
    display: block;
  }

  &:hover {
    background-color: $background-color;

    .headline {
      color: $purple-3;
      transition: all 125ms;
    }

    svg path {
      fill: $purple-3;
      transition: fill 125ms;
    }
  }
}

.message-container {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.header-container {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  padding: 25px 40px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  .search-container {
    @include dFlex($fd: column, $ai: flex-start, $g: 20px);
    width: 100%;
    position: relative;
    input {
      width: 100%;
    }

    .search-menu {
      position: absolute;
      top: 100px;
      left: 20px;
    }
  }

  h2 {
    margin: 0;
  }

  .user-wrapper {
    @include dFlex($g: 10px);
  }

  .user-container {
    @include dFlex();
    border-radius: 40px;
    padding: 3px 10px;
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
      background-color: $background-color;
      color: $purple-3;
    }
  }

  .user-icon-container {
    @include dFlex();
    position: relative;

    .user {
      width: 40px;
      height: 40px;
      border-radius: 100px;
      object-fit: cover;
      border: 2px solid white;
      position: relative;
      z-index: 1;
      transition: z-index 0.3s ease;
    }
  }

  .counter {
    font-weight: 600;
    font-size: 20px;
  }

  .btn-add-user {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    border: none;
    background-color: $background-color;
    @include dFlex();

    svg path {
      transition: fill 125ms ease-in-out;
    }

    &:hover svg path {
      fill: $purple-3;
    }
  }
}

.textarea-container {
  width: 100%;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  margin-top: auto;

  .button-wrapper {
    position: absolute;
    bottom: 25px;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
  }

  textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 25px;
    border-radius: 30px;
    min-height: 145px;

    &:hover {
      border-color: $purple-2;
    }
  }
}

app-emoji-menu {
  position: absolute;
  bottom: 80px;
  left: 80px;
}

.textarea-icon {
  height: 40px;
  width: 40px;
  color: #686868;
  border-radius: 100px;

  &:hover {
    cursor: pointer;
    color: $purple-3;
    background-color: $background-color;
    transform: scale(1.1);
  }
}

.mention-menu {
  position: absolute;
  bottom: 160px;
  left: 60px;
  z-index: 99;
}

.send-icon {
  color: #444df2;
  cursor: pointer;

  &:hover {
    color: $purple-2;
  }
}

.profile-button {
  background: none;
  border: none;
  border-radius: 30px;
  padding: 4px 20px;
  @include dFlex($jc: flex-start, $g: 15px);
  p {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }

  .profile-picture-container {
    position: relative;
  }

  .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

  .online-marker {
    width: 14px;
    height: 14px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    border-color: $background-color;
    position: absolute;
    bottom: 4px;
    right: 0;
    z-index: 2;
  }

  &:hover {
    background: $background-color;
  }
}

.new-chat-container {
  position: absolute;
  bottom: 258px;
  left: 45px;

  @include dFlex($fd: column, $ai: flex-start, $g: 7px);

  .new-chat-headline {
    @include dFlex($jc: flex-start, $ai: flex-end, $g: 10px);
  }

  .new-chat-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }

  .welcome-msg {
    button {
      background: none;
      border: none;
      color: $purple-3;
      padding: 0;
    }
  }
}

.mobile-visibility {
  display: none !important;
}

@media (max-width: $breakpoint-large) {
  .mobile-visibility {
    display: flex !important;
  }

  .header-container {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .user-wrapper {
    display: none !important;
  }

  .textarea-container {
    .button-wrapper {
      padding-left: 31px;
      padding-right: 31px;
    }

    textarea {
      margin-left: 16px;
      margin-right: 16px;
    }
  }

  .new-chat-container {
    left: 0;
    bottom: 200px;
    padding: 16px;

    .new-chat-avatar {
      width: 88px;
      height: 88px;
    }
  }
}

@media (max-width: $breakpoint-small) {
  .header-container {
    padding: 10px 16px;
  }

  .mention-menu {
    left: 16px;
  }

  .header-container > .search-container > .search-menu {
    left: 0;
  }
}
