@import "../../../base";
@import "../../../fonts";
@import "../../../variables";

.ovl-profile {
  width: 500px;
  height: 705px;
  border-radius: 30px;
  padding: 40px;
  background-color: #fff;
  @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 45px);

  header {
    width: 100%;
    @include dFlex($jc: space-between);

    button {
      @include icon-button();
    }
  }

  .profile-picture-container {
    width: 100%;
    @include dFlex();

    .profile-picture-wrapper {
      position: relative;

      img {
        width: 200px;
        height: 200px;
        border-radius: 100%;
      }

      .btn-edit-avatar {
        @include icon-button();
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  .user-info,
  .user-mail {
    width: 100%;
    @include dFlex($fd: column, $ai: flex-start, $g: 15px);
  }

  .user-details {
    width: 100%;
    @include dFlex($jc: space-between);

    p {
      font-size: 32px;
      font-weight: 700;
    }

    button {
      border: none;
      background: none;
      color: $purple-3;
      font-size: 18px;
      font-weight: 600;
      transition: font-weight 125ms ease-in-out;

      &:hover {
        font-weight: 800;
      }
    }
  }

  .user-status {
    width: 100%;
    @include dFlex($jc: flex-start, $g: 15px);

    span {
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $online-green;
    }

    p {
      font-size: 20px;
      font-weight: 400;
      color: $text-grey;
    }
  }

  .mail-header {
    @include dFlex($g: 20px);

    p {
      font-size: 20px;
      font-weight: 700;
    }
  }

  .a-mail {
    text-decoration: none;
    color: #1381ff;
    margin-left: 50px;
  }

  .btn-container {
    width: 100%;
    @include dFlex();

    button {
      @include dFlex($g: 10px);
    }
  }

  .form-edit-user {
    @include dFlex($fd: column, $g: 45px);
    width: 100%;

    .edit-username {
      @include dFlex($fd: column, $ai: flex-start, $g: 7px);
      width: 100%;

      .edit-label-container {
        @include dFlex($jc: flex-start, $g: 20px);
        width: 100%;

        .edit-label {
          font-size: 20px;
          font-weight: 700;
        }
      }

      .inp-name {
        width: 100%;
      }
    }

    .edit-submit {
      @include dFlex($g: 32px);
      width: 100%;
    }
  }
}
