<article class="overlay-container" *ngIf="overlayOpen" (click)="closeOverlay()">
  <div class="overlay-content" [ngSwitch]="overlayService.activeMenu$ | async">
    <app-add-channel-menu *ngSwitchCase="'addChannel'"></app-add-channel-menu>
    <app-profile-menu *ngSwitchCase="'profileMenu'"></app-profile-menu>
    <app-profile *ngSwitchCase="'profile'"></app-profile>
    <app-add-user-menu *ngSwitchCase="'addUser'"></app-add-user-menu>
    <app-channel-members *ngSwitchCase="'channelMembers'"></app-channel-members>
    <app-channel-info *ngSwitchCase="'channelInfo'"></app-channel-info>
  </div>
</article>
