@import './../../_variables';
@import './../../_base';
@import './../../_fonts';

.imprint-wrapper {
    width: 100%;
    height: 100vh;
    padding: 25px 50px;
    @include dFlex($fd: column, $jc: flex-start);
}

.logo-container {
    @include dFlex($jc: space-between);
    width: 100%;
}

.imprint-container {
  width: 100%;
  max-width: 1920px;
  @include dFlex($fd: column, $g: 72px);
  .logo {
    height: 70px;
    width: 242px;
  }
}

.imprint-content {
    background-color: white;
    padding: 48px 56px;
    border-radius: 30px;
    width: fit-content;
    svg {
        cursor: pointer;
        color: #000000;
        border-radius: 100px;
        &:hover {
            color: $purple-1;
            background-color: $background-color;
        }  
    }

    p {
        font-size: 20px;
    }

    h2 {
        color: $purple-1;
        font-size: 32px;
    }
}