@import "./variables";

@mixin input-background($icon, $icon-hover) {
  background-image: url($icon);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  padding-left: 80px;
  background-position: 32px center;

  &:focus {
    background-image: url($icon-hover);
  }
}

@mixin dFlex($fd: row, $jc: center, $ai: center, $g: 0) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin icon-button($w: 40px, $h: 40px) {
  @include dFlex();
  width: $w;
  height: $h;
  background: none;
  border: none;

  svg {
    display: block;
  }

  &:hover {
    background-color: $background-color;
    border-radius: 50%;
    transition: background 0.2s;

    svg path {
      fill: $purple-3;
      transition: fill 0.2s;
    }
  }
}

.link-style {
  text-decoration: none;
  color: #797ef3;
  cursor: pointer;
  padding: 5px 15px;
  border: 1px solid transparent;
  border-radius: 50px;

  &:hover {
    border: 1px solid black;
  }
}

.text-link-style {
  text-decoration: none;
  color: #797ef3;
  cursor: pointer;
}

.headline-style {
  color: $headline-color;
  font-size: 2.556rem;
  font-weight: 700;
  margin: 0;
}

.input-blue-style {
  background: $input-bg-blue;
  padding: 18px 32px;
  border: 1px solid $input-bg-blue;
  border-radius: 100px;
  width: 100%;

  &:hover {
    border: 1px solid black;
  }

  @media (max-width: 360px) {
    font-size: 14px;
  }
}

.seperator-style {
  background-color: #adb0d9;
  height: 1px;
  width: 100%;
}

.button-primary-style {
  background-color: $btn-primary-default;
  color: #ffffff;
  border: 1px solid $btn-primary-default;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;

  &:hover {
    background-color: $btn-primary-hover;
    border: 1px solid $btn-primary-hover;
  }
}

.button-primary-style:disabled {
  background-color: $btn-primary-disabled;
  border: 1px solid $btn-primary-disabled;
  cursor: default;
}

.button-secondary-style {
  background-color: transparent;
  border: 1px solid $btn-primary-default;
  color: $btn-primary-default;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;

  &:hover {
    color: #ffffff;
    background-color: $btn-secondary-hover;
  }
}

.button-secondary-style:disabled {
  background-color: $btn-secondary-disabled;
  border: 1px solid $btn-secondary-disabled;
  cursor: default;
}

.form-input {
  width: 100%;
  border: solid;
  border-radius: 40px;
  border-width: 1px;
  border-color: $light-purple;
  padding: 18px 20px;

  &:hover {
    border-color: $purple-2;
  }

  &:focus {
    border-color: $purple-3;
  }
}

.icon-input {
  background-image: url(../assets/img/tag.svg);
  background-repeat: no-repeat;
  background-size: 23px 23px;
  padding-left: 63px;
  background-position: 20px center;
}

.form-textarea {
  height: 65px;
  min-height: 65px;
  max-height: 90px;
  line-height: 25px;
  resize: none;
  overflow-y: hidden;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
