$background-color: #ECEEFE;

$headline-color: #444DF2;

$btn-primary-default: #444DF2;
$btn-primary-hover: #797EF3;
$btn-primary-click: #444DF2;
$btn-primary-disabled: #686868;

$btn-secondary-default: #797EF3;
$btn-secondary-hover: #535AF1;
$btn-secondary-click: #444DF2;
$btn-secondary-disabled: #686868;

$box-shadow: 0px 6px 10px 0px #00000033;

$dialog-border-radius: 30px;

$input-bg-blue: #ECEEFE; 

$purple-1: #444DF2;
$purple-2: #797EF3;
$purple-3: #535AF1;
$light-purple: #ADB0D9;

$online-green: #92C83E;
$error-red: #ED1E79;
$text-grey: #686868;