@import "../../../../../base";
@import "../../../../../fonts";
@import "../../../../../variables";

.choose-avatar-dialog {
  background-color: #ffffff;
  max-width: 606px;
  width: 100%;
  max-height: 769px;
  height: 100%;
  padding: 40px 67px;
  border-radius: $dialog-border-radius;
  gap: 45px;

  header {
    width: 100%;
    @include dFlex($jc: space-between);

    button {
      @include icon-button();
    }
  }

  form {
    width: 100%;
  }
}

.p-wrapper {
  width: 100%;
  text-align: start;
}

.avatar-container {
  gap: 7px;

  h3 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
  }
}

.default-user-image {
  height: 168px;
  width: 168px;
  border-radius: 100px;
}

.edit-label {
  font-size: 20px;
  font-weight: 700;
}

.avatar-list {
  gap: 8px;
}

.avatar-list-row {
  display: flex;
  gap: 8px;
}

.avatar-image {
  height: 72px;
  width: 72px;
  border-radius: 100px;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.edit-submit {
  @include dFlex($g: 32px);
  width: 100%;
}

/// responsive Design ///

@media (max-width: $breakpoint-large) {
  .avatar-image {
    height: 64px;
    width: 64px;
  }

  .choose-avatar-dialog {
    padding: 26px 21px;
    margin-top: 32px;
    height: auto;
    margin-bottom: 32px;
  }

  .default-user-image {
    height: 120px;
    width: 120px;
  }

  .avatar-list {
    gap: 4px;
  }
}

@media (max-width: $breakpoint-small) {
  .avatar-list {
    flex-direction: column;
    gap: 16px;
  }

  .avatar-image {
    height: 72px;
    width: 72px;
  }

  .avatar-list-row {
    display: flex;
    gap: 16px;
  }
}
