@import "../../base";
@import "../../fonts";
@import "../../variables";

article {
  @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 25px);

  > * {
    width: 100%;
  }
}

header {
  @include dFlex($jc: space-between);

  .logo-container {
    @include dFlex($g: 15px);
  }

  .btn-new-chat {
    @include icon-button();
  }
}

main {
  @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 25px);

  > * {
    width: 100%;
  }

  .channels-details,
  .messages-details {
    @include dFlex($fd: column, $ai: flex-start);

    .summary {
      @include dFlex($jc: space-between);
      height: 46px;
      width: 100%;
      cursor: pointer;

      &:hover {
        color: $purple-3;

        .details-title svg path {
          fill: $purple-3;
        }
      }

      .details-arrow {
        transition: transform 0.2s ease;
        transform: rotate(0deg);
      }

      .details-title {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;
        font-weight: 700;
      }

      button {
        @include icon-button();
      }
    }
  }

  .channels-details.open,
  .messages-details.open {
    gap: 25px;

    .summary .details-arrow {
      transform: rotate(90deg);
    }
  }

  .channels-details {
    justify-content: space-between;
  }

  .messages-details {
    justify-content: flex-start;
  }

  .channels-details-body,
  .messages-details-body {
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 25px);
    max-height: 0;
    margin-left: 20px;
    overflow: hidden;
    opacity: 0;
    transition: max-height 125ms ease, opacity 125ms;
  }

  .channels-details-body.open,
  .messages-details-body.open {
    max-height: 1000px;
    opacity: 1;
  }

  .btn-channel {
    border: none;
    background: none;
    padding: 4px 20px;
    border-radius: 20px;
    @include dFlex($jc: flex-start, $g: 15px);

    &:hover {
      background-color: $background-color;
      svg path {
        fill: $purple-3;
      }
    }
  }

  .btn-add-channel {
    border: none;
    background: none;
    padding: 4px 20px;
    border-radius: 30px;
    @include dFlex($g: 10px);

    &:hover {
      color: $purple-3;
      svg path {
        fill: $purple-3;
      }
    }
  }

  .profile-button {
    background: none;
    border: none;
    width: 100%;
    border-radius: 30px;
    padding: 4px 20px;
    @include dFlex($jc: flex-start, $g: 15px);
    p {
      font-size: 18px;
      font-weight: 400;
      margin: 0;
    }

    .profile-picture-container {
      position: relative;
    }

    .profile-picture {
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }

    .online-marker {
      width: 14px;
      height: 14px;
      border-style: solid;
      border-width: 2px;
      border-radius: 50%;
      border-color: $background-color;
      position: absolute;
      bottom: 4px;
      right: 0;
      z-index: 2;
    }

    &:hover {
      background: $background-color;
    }
  }
}
