<article class="search-menu">
  @for (element of searchResults; track $index) {
    <button
      class="profile-button"
      (click)="clickOnUser(element.id); $event.stopPropagation()"
    >
      <ng-container *ngIf="isUser(element); else channelTemplate">
        <div class="profile-picture-container">
          <img
            class="profile-picture"
            [src]="element.profilePictureUrl"
            alt="Profilbild"
          />
          <span
            class="online-marker"
            [ngStyle]="{
              'background-color': element?.onlineStatus ? '#92C83E' : '#686868'
            }"
          ></span>
        </div>
        <p>{{ element.name }}</p>
      </ng-container>
      <ng-template #channelTemplate>
        <p># {{ element.name }}</p>
      </ng-template>
    </button>
  }
</article>