<div class="request-password-wrapper flex-center">
    <div class="request-password-content flex-center flex-column">
        <img class="logo" src="/assets/img/logo-with-text.png" alt="">
        <div class="request-password-dialog flex-column flex-center text-center">
            <a class="arrow-back" [routerLink]="'/'"><img src="/assets/img/arrow-back.png" alt=""></a>
            <h2 class="headline-style">Passwort zurücksetzen</h2>
            <span class="fs20 mb32">Bitte geben Sie Ihre E-Mail-Adresse ein.</span>

            <form [formGroup]="form">
                <input class="input-email input-blue-style" formControlName="email" type="email"
                    placeholder="beispiel@email.com">
                <div class="error-space">
                    <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                        <div class="error-message" *ngIf="form.get('email')?.errors?.['required']">Bitte geben Sie eine
                            Email-Adresse ein</div>
                        <div class="error-message" *ngIf="form.get('email')?.errors?.['email']">Ihre Emailadresse ist
                            leider ungültig</div>
                    </div>
                </div>
                <span class="fs20 mb32">Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</span>
                <div class="button-wrapper flex-end">
                    <button [disabled]="form.invalid" class="button-primary-style">E-Mail senden</button>
                </div>
            </form>
        </div>
        <div class="legal flex-sb">
            <a class="link-style" [routerLink]="'/imprint'">Impressum</a>
            <a class="link-style" [routerLink]="'/privacy-policy'">Datenschutz</a>
        </div>
    </div>
</div>