@import './../../variables';
@import './../../base';
@import './../../fonts';

.choose-avatar-wrapper {
    height: 100%;
    width: 100%;
    padding: 75px;
}

.choose-avatar-content {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 99px;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 242px;
    height: 70px;
}

.choose-avatar-dialog {
    position: relative;
    margin-top: 174px;
    background-color: #ffffff;
    max-width: 606px;
    width: 100%;
    max-height: 769px;
    height: 100%;
    padding: 40px 67px;
    border-radius: $dialog-border-radius;
    margin-bottom: 48px;

    h2 {
        margin-bottom: 32px;
    }

    form {
        width: 100%;
    }
}

.avatar-container {
    h3 {
        margin-top: 0;
        margin-bottom: 16px;
        font-size: 32px;
    }
}

.arrow-back {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 45px;
    left: 32px;
}

.default-user-image {
    height: 168px;
    width: 168px;
    margin-bottom: 32px;
    border-radius: 100px;
}

.span-wrapper {
    width: 100%;
    text-align: start;
    margin-bottom: 15px;
}

.avatar-list {
    gap: 8px;
    margin-bottom: 48px;
}

.avatar-list-row {
    display: flex;
    gap: 8px;
}

.avatar-image {
    height: 72px;
    width: 72px;
    border-radius: 100px;
    cursor: pointer;

    &:hover {
        transform: scale(1.05)
    }

    ;
}

.button-wrapper {
    width: 100%;
}



/// responsive Design ///


@media (max-width: 690px) {
    .avatar-image {
        height: 64px;
        width: 64px;
    }
}

@media (max-width: 640px) {
    .choose-avatar-wrapper {
        padding: 16px;
    }

    .logo {
        position: unset;
        height: 56px;
        width: 204px;
    }

    .choose-avatar-content {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .choose-avatar-dialog {
        padding: 26px 21px;
        margin-top: 32px;
        height: auto;
        margin-bottom: 32px;

        h2 {
            font-size: 32px;
            margin-bottom: 15px;
        }
    }

    .arrow-back {
        position: absolute;
        height: 40px;
        width: 40px;
        top: 26px;
        left: 32px;
    }

    .default-user-image {
        margin-bottom: 15px;
        height: 120px;
        width: 120px;
    }

    .avatar-list {
        gap: 4px;
    }

    .avatar-image {
        height: 56px;
        width: 56px;
    }
}


@media (max-width: 520px) {
    .choose-avatar-dialog {
        h2 {
            margin-left: 48px;
            margin-right: 48px;
        }
    }
}

@media (max-width: 460px) {
    .choose-avatar-dialog {
        h2 {
            margin-top: 40px;
            margin-left: 8px;
            margin-right: 8px;
        }
    }

    .arrow-back {
        left: 16px;
    }

    .avatar-list {
        flex-direction: column;
        gap: 16px;
    }

    .avatar-image {
        height: 72px;
        width: 72px;
    }

    .avatar-list-row {
        display: flex;
        gap: 16px;
    }
}